/* 전체 페이지 컨테이너 */
.vote-page-container {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    height: auto;
    min-height: auto;
    background-color: #000;
    /* 전체 배경 검은색 */
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    /* 양쪽 여백 */
    box-sizing: border-box;
}

/* --- 2. 베팅 카드(이미지+텍스트) 스타일 --- */
.vote-content {
    display: flex;
    flex-direction: column;

}

.betting-card {
    position: relative;
    /* 자식요소(overlay)의 기준점 */
    width: 100%;
    border-radius: 1px;
    /* 모서리 살짝 둥글게 */
    overflow: hidden;
    margin-bottom: 20px;

}

.card-image {
    width: 100%;
    height: auto;
    /* position: absolute;
    bottom: 500px; */
    display: block;

}

/* 텍스트 오버레이 위치 잡기 */
.card-overlay {
    position: absolute;
    bottom: 30px;
    /* 아래에서 30px 띄움 */
    right: 20px;
    /* 왼쪽에서 20px 띄움 */
    z-index: 10;
}

.overlay-text {
    /* 1. 폰트 적용 (아까 설정한 것) */
    font-family: "Juventus Fans", sans-serif;

    background: linear-gradient(-155deg,
            #ffffff 0%,
            #DEDFCE 32%,
            #BEBF9F 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 36px;
    text-align: right;
    letter-spacing: -0.02em;
    line-height: 100%;
    margin: 0;
    font-weight: normal;
}

.vote-period-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /* medium */
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
    /* -2% */
    color: #767676;
    text-align: right;
    margin: 10px 0 0 0;
}

/* --- 3. 하단 버튼 스타일 --- */
.bottom-action-area {
    padding: 20px 0;
    /*  margin-top: auto; 화면 맨 아래로 밀기 */
}

/* 만약 공통 컴포넌트가 없다면 이 스타일을 사용하세요 */

.vote-action-button {
    width: 100%;
    padding: 15px;
    background-color: #CD1C10;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.2s;
}